@import 'bootstrap/scss/bootstrap.scss';

.nav-link.active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 7px;
    left: 8px;
    height: 2px;
    width: 100%;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    animation: outline 500ms ease forwards;
  }
}

@keyframes outline {
  to {
    transform: scaleX(0.7);
  }
}


// ************ Start Table Style *************** 

.table tr td:first-child{
  width: 10%;
}

.table tr td:nth-child(2){
  width: 60%;
}

.table tr td:nth-child(3),
.table tr td:nth-child(4){
  width: 15%;
  vertical-align: middle;
}

@media (max-width: 768px) {

	.table{

    & > :not(:first-child) {
      border: none;
    }

    & thead,
    & th {
      display: none;
    }
  
    &,
    & tbody,
    & tr,
    & td {
      display: block;
      width: 100% !important;
    }
  
    & tr {
      margin-bottom: 15px;

      & td {
        text-align: center;

        &:first-child {
          font-size: 1.6rem;
        }

        &:nth-child(2) {
          text-align: justify;
        }
      }
    }
	}
}

// ************ End Table Style *************** 